{% extends "base_generic.html" %}

{% block javascript %}
{% endblock %}

{% block content %}
<div class="profiles-container">
    <h1>Results for '@{{ query }}'</h1>
    <div class="profiles-row">
        {% for profile in profiles %}
            <div class="profile">
                <a href="/user/{{ profile.username }}"><span class="profile-pic">
                    <img src="{{ profile.profile_picture }}">
                </span></a>
                <span class="profile-name">
                    {{ profile.full_name }}
                </span>
                <span class="profile-username">
                    <a href="/user/{{ profile.username }}">@{{ profile.username }}</a>
                </span>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
