{% extends "base_generic.html" %}

{% block javascript %}
{% endblock %}

{% block content %}
<div class="posts-container">
    <div class="profile">
        <div class="profile-left">
            <span class="profile-pic">
                <img src="{{ profile_picture }}">
            </span>
        </div>
        <div class="profile-right">
            <span class="profile-name">
                {{ full_name }}
            </span>
            <span class="profile-username">
                @{{ username }}
            </span>
        </div>
    </div>
    <div class="posts">
        {% if edge_owner_to_timeline_media.media %}
            {% for post in edge_owner_to_timeline_media.media %}
                <div class="post-pic">
                    <img src="{{ post.display_url }}" class="w3-border">
                    <div class="middle">
                        <a class="text" href="/media/{{ post.shortcode }}">analyze</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2>No post available</h2>
        {% endif %}
    </div>
</div>
{% endblock %}
