@import "fonts.css";

body {
    background-color: honeydew;
}

.navbar-container {
    margin-bottom: 70px;
}

.teams-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.teams-container h1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Liberation', serif;
    margin-top: 30px;
    font-size: 4rem;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.logo {
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.title {
    font-weight: 100;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Chivo';
}

#input-username {
    font-family: 'Chivo';
}

#button-username {
    font-family: 'Chivo';
}

.teams {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.team .team-pic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.team .team-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-weight: 200;
    font-size: 1.5rem;
    font-family: 'Liberation', serif;
    margin-top: 20px;
}

.team .team-username {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-weight: 200;
    font-size: 1.2rem;
    font-family: 'Liberation', serif;
    color: #007bff;
}

.team .team-nim {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-weight: 200;
    font-size: 1.2rem;
    font-family: 'Liberation', serif;
}

.team-pic img {
    border-radius: 50%;
    width: 340px;
    height: 340px;
}
